@charset "utf-8";
/* CSS Document */
body{
	background-color: gray;
}
.container{
	display:flex;
}

.nav-bar{
	width: 100px;
	height:603px;
	display: grid;
	margin-left: 0px;
	background-image: linear-gradient(to right, DarkSlateGray ,Royalblue,navy,Royalblue,DarkSlateGray);
}


.nav-item{
	text-align: center;
	align-content: center;
	height:100px;
	
}

.nav-item:hover{
	background-color: rgba(99,129,131,0.92);
}

i{
	margin-top: 32px;
	text-align: center;
}
